packages:
  yum:
    php72: []

files:
  "~/.aws/credentials":
      mode: "000755"
      content : |
        [default]
        aws_access_key_id = ${S3_AWS_ACCESS_KEY}
        aws_secret_access_key = ${S3_AWS_SECRET_ACCESS_KEY}

container_commands:
#  "1-remove-existing-theme":
#    #command: "rm -r /wp-content/themes/kbharkiv/* || true"
#  "2-sync-theme-from-s3":
#    #command: "aws s3 sync s3://kbharkiv-wordpress-theme.kbharkiv.dk /wp-content/themes/kbharkiv"