packages:
  yum:
    php72: []

files:
  "/home/ec2-user/.aws/credentials":
      mode: "000755"
      content : |
        [default]
        aws_access_key_id = `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_ACCESS_KEY"}}`;
        aws_secret_access_key = `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_SECRET_ACCESS_KEY"}}`;

container_commands:
#  "1-remove-existing-theme":
#    #command: "rm -r /wp-content/themes/kbharkiv/* || true"
#  "2-sync-theme-from-s3":
#    #command: "aws s3 sync s3://kbharkiv-wordpress-theme.kbharkiv.dk /wp-content/themes/kbharkiv"