packages:
  yum:
    php72: []

container_commands:
  "1-download":
    command: "curl -o /tmp/theme.zip -L https://github.com/CopenhagenCityArchives/kbharkiv-wordpress-theme/archive/master.zip"
  "1.5-remove-tmp":
    command: "rm -Rf /tmp/kbharkiv-wordpress-theme-master || true"
  "2-unzip":
    command: "unzip -o /tmp/theme.zip -d /tmp"
  "3-chown":
    command: "chown -R ec2-user:ec2-user /tmp/kbharkiv-wordpress-theme-master/wordpress/wp-content"
  "4-copy":
    command: "cp -r /tmp/kbharkiv-wordpress-theme-master/wordpress/wp-content/* /wp-content"
 # "5-chown":
 #   command: "chown -R ec2-user:ec2-user /wp-content"
 # "6-chmod":
 #   command: "chmod -R 777 /wp-content/languages"
 # "7-debug":
 #   command: "echo 'here is dir rules:'; ls -l /wp-content/languages"
  "5-chmod":
    command: "sudo chmod -R 775 /wp-content"
  "6-chmod-docker":
    command: "MY_CONTAINER=$(sudo docker ps -q) && sudo docker exec $MY_CONTAINER chmod -R 775 /var/www/html/wp-admin"
  "8-download-composer":
    command: "curl -s https://getcomposer.org/installer | php"
  "9-install-dependencies":
    command: "php composer.phar install --ignore-platform-reqs -d /wp-content/themes/kbharkiv/"
  "99-remove-composer":
    command: "rm composer.phar"