packages:
  yum:
    php72: []

container_commands:
  "1-download":
    command: "curl -o /tmp/linklivestemplate.zip -L https://github.com/CopenhagenCityArchives/linklives-wordpress-theme/archive/master.zip"
  "2-unzip":
    command: "unzip -o /tmp/linklivestemplate.zip -d /tmp"
  "3-chown":
    command: "chown -R ec2-user:ec2-user /tmp/linklives-wordpress-theme-master/wordpress/wp-content"
  "4-copy":
    command: "cp -r /tmp/linklives-wordpress-theme-master/wordpress/wp-content/* /wp-content"
  "5-download-composer":
    command: "curl -s https://getcomposer.org/installer | php"
  "6-install-dependencies":
    command: "php composer.phar install --ignore-platform-reqs -d /wp-content/themes/linklives/"
  "7-remove-composer":
    command: "rm composer.phar"